.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
config/autoload/load.php
skeleton-application/vendor/*
skeleton-application/public/dist/js/
skeleton-application/public/node_modules/
