.card-wrapper {
  margin-top: 20vh;
}

.card {
  /*margin-top: 165px;*/
  margin-top: 25px;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  position: relative;
}

.card-number {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(164, 198, 57);
  padding: 5px 10px;
  font-size: 11px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-pokemon {
  /*position: absolute;
  top: -170px;
  margin: 0 auto;
  right: 0;
  left: 0;
  height: 230px;*/
  margin: 0 auto;
}

.card-title {
  text-align: center;
  display: block;
  font-weight: 800;
  font-size: 18px;
  /*margin: 65px 15px 15px 15px;*/
  margin: 15px;
}

.card-description {
  display: block;
  font-size: 12px;
}

.card-type {
  display: block;
  margin-top: 15px;
}

.table-type {
  margin: 5px 0 0 0;
}

.table-title {
  margin: 0;
  overflow-x: auto;
}

.table-card {
  width: 200px;
}

.type {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: red;
  margin: 5px;
  padding: 5px 10px;
  font-size: 11px;
  min-width: 80px;
  text-align: center;
}

.card-details {
  position: fixed;
  top: -200px;
  left: 0;
  height: 500px;
  background: red;
  margin-top: 50px;
}
