.title-lg {
  font-size: 45px;
  font-bold: 800;
  color: white;
  text-transform: uppercase;
  display: block;
}

.title-btn-wrapper{
  margin: 15px;
}

.random-btn-image{
  margin-left: 100px;
}

.text-center{
  text-align: center;
}
